//Variables
$background-color: #FFF;
$bookend-color:lighten(#7E5B33, 15%);
$nav-color:saturate(#AE956D, 30%);
$nav-boarder-color: #FFF;
$box-color:darken(#EFE0B9, 20%);
$deal-broader-color:#000;
$text-color:#FFF;
$font-family: "Hoefler Text";
$window-size:1500;
$deals-size:325.5;
$cakes-size:902;
//Base CSS
/* CSS Document */

/*The css reset is the Eric Meyer's Reset as talked about on page 18 in the book "Responsive Web Design" by Ethan Marcotte*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/*General Styles*/

body {background-color: $background-color;
}

#wrapper {margin:0 auto;	
			width:100%; /* 1500px/1530px */

}

p, h1, h2, h3, h4, li{ font-family:$font-family;
}

h1 {font-size:1.5em; /* 24pt/16pt */
		font-style:normal;
		font-weight:bold;
}

h2 {font-size:1.125em; /* 18pt/16pt*/
		font-style:normal;
		font-weight:800;		
}

p {font-size:1em; /*16pt/16pt*/
		font-style:normal;
		font-weight:normal;
}

/*end of General Styles*/

/*header Styles*/

#logo {padding-bottom: 12%;


img {float:left;
			width:12%;
			max-width:100%;
    }
    
} //Nested    

#header {background-color: $bookend-color;
			padding-left: .0066666667%; /*10px/1500px*/
			padding-right: .0066666667%; /*10px/1500px*/

h1 { font-size: 2.5em; /* 40pt/16pt */
				color:$text-color;
				margin-top:-6%;
				font-weight:600;
				margin-bottom: 5px;
}

h2 {font-size: 1.5625em; /* 25pt/16pt */
				color:$text-color;
				font-style:italic;
				font-weight:200;
				margin-left: 17%; /* 255px/1500px */
				padding-bottom:3%;
    }
    
} //Nested
/*end of header Styles*/

/*time styles*/

#time {display:none;
}

/*end of time styles*/

/*large-nav Styles*/

#large-nav {background-color:$nav-color;
				padding-top: 5px;
				padding-bottom: 5px;
				margin-bottom:20px;

 ul {list-style:none;
				padding-left: 4%; /* 300px/1500px */
				
}

 li {display:inline;
						font-size: 1.125em; /* 18pt/16pt */
						color:$text-color;
						padding-right:1.5%; /* 22.5px/1500px */
						padding-left:1.5%; /* 22.5px/1500px */
    }  
} //nested  
    .border {
            display:inline;
			font-size:1.125em; /* 18pt/16pt */
			color:$nav-boarder-color;
			border-right:solid;
			border-width:thin;
			border-color:$nav-boarder-color;								
        }


/*end of large-nav Styles*/

/*tab-nav Styles*/

#tab-nav {display: none;
}

/*end of tab-nav Styles*/

/* cakes Styles*/

#cakes {background-color: $box-color;
			margin-left: 2.66666666667%; /* 40px/1500px */
			padding:1.33333333333%; /* 20px/1500px */
			width:percentage($cakes-size/$window-size); /* 902px/1500px */ //math Sass functions used
			float:left;

p {line-height: 120%;
			padding-bottom:2%;
}


 h1 {text-align:center;
			margin-bottom:3%;
    }
} //nested

#cake-pic {padding-bottom: 20%;


img { float:left;
				width:50%; /* 945px/1500px */
				max-width:100%;
				padding-right: 1%; /* 15px/1500px */
				padding-bottom: 1%; 
    }
} //nested

.top-p {margin-top: -20%;
}
 
 .bottom-p {margin-bottom: 1%;
    }
/* end of cakes Styles*/

/* deals Styles*/
	#deals {float:right;
				background-color: $box-color;
				width:percentage($deals-size/$window-size); /* 325.5px/1500px */ //math Sass functions used
				margin-right: 2%; /* 30px/1500px */
				padding-left: 1.333333333333%; /* 20px/1500px */
				padding-right: 1.333333333333%; /* 20px/1500px */
				padding-top: 1.333333333333%; /* 20px/1500px */
				padding-bottom:.5%;


h1 {text-align:center;
				padding-bottom:2%;
}

p {line-height: 120%;
			padding-bottom:3%;
			padding-top:3%;
    }

} //nested 
	.border-deals {border-bottom:solid;
			border-width:thin;
			border-color:$deal-broader-color;
        }
       
/* end of deals Styles*/

/* small-nav styles*/

#small-nav {display:none;
}

/*end for small-nav styles*/ 

/* footer Styles*/
	#footer {clear:both;
				background-color: $bookend-color;
				margin-top:62%;
				


 p {color:$text-color;
				padding-top:1%; 
				margin-left: 2%; /* 30px/1500px */
				text-align:center;
				line-height: 120%;
				font-size:1.125em; /* 18pt/16pt*/
    }
} //nested
/* end of footer Styles*/

/*sprites styles*/

#SM-buttons { margin-left: 40%; /* 450px/1500px */ 
				padding-top: 10px;
				padding-bottom:10px; 
}

.ul-sprits {list-style:none;
		display:inline;
}

.fb-act { background:url(../images/GH-sprints.png) no-repeat;
            background-position: -30px -70px;
			width:80px;
			height:80px;
			margin:2px;
			display:inline-block;
			
}

//@extend used
.tw-act {@extend .fb-act;
            background-position: -30px -185px;
			width:80px;
			height:80px;
			margin:2px;
			display:inline-block;
				
}

//@extend used
.pin-act { @extend .fb-act;
            background-position: -30px -320px;
			width:80px;
			height:80px;
			margin:2px;
			display:inline-block;
			
}

//Mixin used

@mixin hover ($left:-155px, $right:-68px){
    background-position: $left $right;
			width:80px;
			height:80px;
			display:inline-block;
			margin:2px;   
    }

.fb-act:hover {@include hover();
}

.tw-act:hover { @include hover(-155px, -185px);
}

.pin-act:hover { @include hover(-155px, -320px); 
}

/* end of sprites sytles*/
